.promo{
    margin-top: 40px;
    width: calc(100vw - 16px);
    
   
}

.promoImages{
    display: flex;
}

.promoImages .promoImage{
    width: 100%;
}

.promoImages .promoImage img{
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.promoImages .promoImage:first-child{
   flex: 1.3;
}

.promoImages .promoImage:last-child{
    flex: 1;
 }
 


